aside(class="fixed h-full w-64 bg-white shadow-2xl")

    div(class="flex flex-col h-full")
        img(src='../../resources/icons/512x512.png' class='w-16 h-16 my-8 mx-auto')
        div(class='flow-grow')
            ul
                li(class='text-center p-2 my-2')
                    a(class='text-gray-800 hover:text-gray-600 ease-in' href='home.pug') Home

                li(class='text-center p-2 my-2')
                    a(class='text-gray-800 hover:text-gray-600 ease-in' href='screenings.pug') Screenings

                li(class='text-center p-2 my-2')
                    a(class='text-gray-800 hover:text-gray-600 ease-in' href='waitlist.pug') Waitlist

                li(class='text-center p-2 my-2')
                    a(class='text-gray-800 hover:text-gray-600 ease-in' href='settings.pug') Settings
