extends layouts/default_layout.pug

block content
  main(class='p-8 ml-64 bg-gray-100 h-screen')
    p Welcome to the app! Congrats. You have a token.json file, whoopee.
    p#events

block scripts
  script(src="../../temp/app.js")
