block vars
    - var bodyClass = ''

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")

        // Security policy still needs to be set
        meta(http-equiv="Content-Security-Policy")

        meta(name="viewport" content="width=device-width,initial-scale=1")
        title Augustana Health Screenings Admin Menu

        // Temporary until we get tailwindcss into the webpack build
        link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
    body(class=bodyClass)
        block nav
        block content
        block scripts
